# Logs
logs
*.log
npm-debug.log*

# Runtime data
pids
*.pid
*.seed

# Coverage directory
coverage
junit.xml
reports

# node-waf configuration
.lock-wscript

# Compiled binary addons (http://nodejs.org/api/addons.html)
build/Release

# Dependency directories
node_modules
jspm_packages

# Optional npm cache directory
.npm

# Optional REPL history
.node_repl_history
.vscode/*
!.vscode/launch.json
.idea

# build
build
docs
dist
yarn.lock
pkg
build
_output
snowpack.lock.json
.cache
